.container-task-show
  .task
    .task__wrapper.d-f
      %h1.page__ttl
        = @task.title
      .card__dropdown
        = image_tag 'Combined-Shape.png', class: 'cbd-shp'
    - if @task.eyecatch.attached?
      .card_image
        = image_tag @task.eyecatch, class: 'eyecatch'
    .task__content
      %p= @task.content

    .task__comments
      %p Comment
      - @comments.each do |comment|
        .task__comments__detail.d-f
          .task__comments__detail__avtImg
            = image_tag 'Oval-male.png', class: 'user-avt-img'
          %p= comment.content

    .mk-new
      = link_to new_board_task_comment_path(@task, @task.id) do
        %p + Add new comment