.container-task
  %h1.page__ttl
    Tasks
  .tasks
    -# board引用部
    %p.tasks__ttl
      = @board.title
    %p.tasks__content
      = @board.content
    .avtImg
      = image_tag 'Oval-male.png', class: 'user-avt-img'

    -# tasks一覧
    -# - @tasks.each do |task|
      .tasks__wrapper
        %h2.tasks__wrapper__ttl
          = task.title
        %p.tasks__wrapper__content
          = task.content
        .tasks__wrapper__opt.d-f
          .tasks__wrapper__opt__avtImg
            = image_tag 'Oval-male.png', class: 'user-avt-img'
          .tasks__wrapper__opt__limit
            = task.limit