!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoappBoardsSaqla
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

  %body
    %p.notice= notice
    %p.alert= alert
    #header.header
      %p.hdr__ttl
        Boards
      - if user_signed_in?
        .dropdown
          = image_tag 'Oval-female.png', class: 'signed-avt-img'
          .dropdown-content
            = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
    \#{yield}
